wsdl/Schemas/EInvoiceServicesCommonTypes-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ©2024 Sovos -->
<xs:schema xmlns="http:/fitcons.com/eInvoice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http:/fitcons.com/eInvoice/">
	<xs:element name="ProcessingFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Code" type="xs:int"/>
				<xs:element name="Message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
